<div class="columns medium-6 small-12 small-centered sign-up-form text-center">

  <h2>Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.text_field :display_name, autofocus: true, placeholder: "Display Name" %>
  </div>

  <div class="field">
    <%= f.email_field :email, placeholder: "Email" %>
  </div>

  <div class="field">

    <%= f.password_field :password, autocomplete: "off", placeholder: "Password (8 characters minimum)" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirmation" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "button" %>
  </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
