<div class="row">
  <div class="medium-12 columns">
    <div id="container" class="js-masonry" data-masonry-options='{ "itemSelector": ".item" }'>
      <div class="row">
        <% @pictures.each do |picture| %>
        <div class="small-12 medium-6 large-4 columns item">
          <div class="animation2">
            <div class="card">
              <div class="container">
                <div class="front">
                  <img src=<%="#{picture.image}"%>>
                </div>
                <% if signed_in? %>
                  <% if current_user.id == picture.user_id %>
                    <div class="backk">
                      <h5>by: <strong><%= picture.user.display_name %></strong></h5>
                      <%= link_to "Delete Picture", circle_picture_path(@circle, picture), method: :delete,
                      class: "button delete" %>
                    </div>
                  <% else %>
                  <div class="backk">
                    <h5>by: <strong><%= picture.user.display_name %></strong></h5>
                  </div>
                  <% end %>
                <% else %>
                  <div class="backk">
                    <h5>by: <strong><%= picture.user.display_name %></strong></h5>
                  </div>
                <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
