<div class="columns medium-6 small-12 small-centered sign-up-form text-center">
  <%= simple_form_for @circle do |f| %>
  <div class="field">
    <%= f.input :title, label: 'Group Name' %>
  </div>
  <div class="field">
    <%= f.input :description %>
  </div>
  <div class="field">
    <%= f.input :is_private, label: 'Private?', as: :radio_buttons %>
  </div>
  <div class="actions">
    <%= f.button :submit, class: "button" %>
  </div>
  <% end %>
</div>
