<h2>Users waiting for your approval</h2>
<% if @memberships.where(approved: false) == [] %>
<div class="row">
  <div class="panel">
    <h3>None Pending</h3>
  </div>
</div>
<% else %>
  <% @memberships.each do |membership| %>
    <% if membership.approved == false %>
      <% member = User.where(id: membership.user_id) %>
      <div class="row">
        <div class="panel">
          <h3><%= member.first.display_name %> - <%= member.first.email %>
          <%= link_to "Approve", approval_path(membership), method: :patch, class: "button small" %></h3>
    <% end %>
  <% end %>
        </div>
      </div>
<% end %>


  <h2>Approved Users</h2>
<div class="row">
  <div class="panel">
    <% @memberships.each do |membership| %>
      <% if membership.approved == true %>
        <% member = User.where(id: membership.user_id) %>
        <h3><%= member.first.display_name %> - <%= member.first.email %></h3>
      <% end %>
    <% end %>
  </div>
</div>
