<% if @circle.is_private == false %>
  <br>
  <div class="panel">
    <h2><%= @circle.title %></h2>
    <h3><%= @circle.description %></h3>
    <%= link_to "Edit", edit_circle_path, class: "button tiny" %>
    <%= link_to "Delete", circle_path(@circle), method: :delete, class: "button tiny"%>
  </div>
  <%= render "submit_picture_form" %>
  <hr>
  <%= render "view_pictures" %>
  <hr>
  <div class="panel">
    <%= render "chatbox" %>
    <%= render "create_comments_form" %>
  </div>
<% else %>
  <% if (current_user.id == @circle.user_id)%>
  <br>
  <div class="panel">
    <h2><%= @circle.title %></h2>
    <h3><%= @circle.description %></h3>
    <%= link_to "Pending", pending_path, class: "button tiny" %>
    <%= link_to "Edit", edit_circle_path, class: "button tiny" %>
    <%= link_to "Delete", circle_path(@circle), method: :delete, class: "button tiny"%>
  </div>

    <%= render "submit_picture_form" %>
    <hr>
    <%= render "view_pictures" %>
    <hr>
  <div class="panel">
    <%= render "chatbox" %>
    <%= render "create_comments_form" %>
  </div>
  <% elsif @member.include?(@approved_member) %>
  <br>
  <div class="panel">
    <h2><%= @circle.title %></h2>
    <h3><%= @circle.description %></h3>
  </div>

    <%= render "submit_picture_form" %>
    <hr>
    <%= render "view_pictures" %>
    <hr>
    <div class="panel">
      <%= render "chatbox" %>
      <%= render "create_comments_form" %>
    </div>
  <% else %>
  <br>
  <div class="panel">
    <h2><%= @circle.title %></h2>
    <h3><%= @circle.description %></h3>
    <%= link_to "Join Group", circle_memberships_path(@circle), method: :post, class: "button tiny"%>
  </div>
  <% end %>
<% end %>
