<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "PicCircle" %></title>

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="bg">
    <%= image_tag "circles.png" %>
  </div>

  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">PicCircle</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <%- if current_user -%>
          <li><%= link_to "#{current_user.display_name}", edit_user_registration_path %></li>
          <li><%= link_to "Create Circle", new_circle_path %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Login', new_user_session_path %></li>
        <%- end -%>
      </ul>
    </section>
  </nav>


  <div class="row">
    <div class="columns small-12 wrapper">
      <%= render 'layouts/flash' %>

      <%= yield %>
      <%= javascript_include_tag "application" %>
    </div>
  </div>
</body>
</html>
